.profilePhotoSelect {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.profilePhotoSelect input {
  position: absolute;
  text-indent: -999999px;
  left: -999px;
}
.profilePhotoDefaultPreview {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}